//Fontes
$fontPrincipal: Roboto, sans-serif;

//Cores
$corHeader: #182C61;
$corBody: #f5f6fa;
$corTexto_MenuBotao: #fff;
$corBotao: #44bd32;
$corBotaoHover: #4cd137 ;


//Display


//Breakpoints
$mobile: 767px;
$tablet: 1023px;