*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


header li {
    display: inline;

}


.container{
    width: 1336px;
    margin: 0 auto ;    
}

.articles {
    display: flex;
    grid
   
  
}

.articles article img{
    width: 180px;
}

.articles{
    width: 30%;
    justify-content: space-between;
}
