*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body > header{
    background-color: darkslategray;
    padding: 16px 0;
    color: antiquewhite;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: antiquewhite;
    text-decoration: none;
}

.container{
    width: 1336px;
    margin: 0 auto;
}

.articles p{
    font-family: Arial, Helvetica, sans-serif;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}
section{
    padding: 16px 0;
}

section h2 , .articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: rgba(0,0,255,0.5);
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p, 
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2 {
    font-size: 32px;
    font-weight: bolder;
    border: 2px groove rgba(58, 58, 58, 0.445);
    width: max-content;
    padding: 8px;
    background-color: #9e9e9e7e;
    margin-top: 20px;
    margin-bottom: 30px;
    
    
}

#sports {
    background-color: rgba(0, 255, 0, 0.137);
}

#sports .articles article a {
    background-color: green;
}

#economy {
    background-color: rgba(100, 80 , 0, 0.4);
}

#economy .articles article a {
    background-color: brown;
}

section h2 {
    text-decoration: none;
}

#entreterimento{
    background-color:  rgba(173, 114, 164, 0.651);
}

#entreterimento a{
    background-color: rgb(119, 74, 113);
}

#tecnologia {

    background-color: rgba(0,100,92,0.6);

}

#tecnologia img{
    margin-top: 20px;
}

#tecnologia a{
    background-color: cornflowerblue;

}